header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 24px 10px 24px;
    z-index: 100000;
    background-color: #277BC0;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

header.sticky{
    padding: 5px 100px;
    background: #fff;
}
header.sticky .logo,
header.sticky ul li a{
    color: #000;
}

/* section{
    background-color: rgb(202, 0, 0);
    width: 100px;
    height: 100px;
} */
.bdy{
    margin-top: 150px;
}